<main>
  <section class="form-section">
    <img 
      src="/assets/logo.svg" 
      alt="Logo MoveIt"
    >
    <h2>{{ title }}</h2>
    
    <ng-content></ng-content>

    <div class="btn-wrapper">
      <button class="btn-primary">{{ primaryBtnText }}</button>
      
      <div class="divider">
        <div class="divider-left"></div>
        <span>or</span>
        <div class="divider-right"></div>
      </div>

      <button class="btn-secondary">{{ secondaryBtnText }}</button>
    </div>
  
  </section>
  <section class="main-section">
    <h1>You Should, MoveIt!</h1>
    <img 
      src="/assets/delivery.svg" 
      alt="Main Ilustration"
    >
  </section>
</main>
